body {
    background-color: black;
}

.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.archivo-black-regular {
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.test {
    /*border: 2px dotted red;*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    width: 50%;
    text-align: center;
}

.head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    top: 1vh;
}

.links {
    /*border: 2px dotted red;*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    position: fixed;
    bottom: 1vh;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 1vh;
}


h1 {
    font-family: 'Bebas Neue';
    font-size: 8em;
    color: white;
}

p {
    font-family: 'Bebas Neue';
    font-size: 1.2em;
    color: white;
}

a {
    font-family: 'Bebas Neue';
    font-size: 1.2em;
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}