@font-face {
  font-family: "Monument";
  src: url(asset/MONUMENTEXTENDED-REGULAR.OTF);
}

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

canvas {
  display: block;
}

.nav {
  background: none;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 95%;
  margin: auto;
  left: 50%;
  transform: translateX(-50%);
  top: 2vh;
}

a {
  text-decoration: none;
  font-family: "Monument";
  color: white;
  font-size: 1.7em;
}

a:hover {
  color: rgb(254, 1, 154);
}

.show-popup {
  font-family: "Monument";
  color: white;
  font-size: 1.7em;
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
}

.show-popup:hover {
  color: rgb(254, 1, 154);
}

.popup-container {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
}

.popup-container.active {
  opacity: 1;
  pointer-events: auto;
  transition: .4s ease;
}

.popup-container .popup-box {
  width: 50vw;
  max-height: 90vh;
  background: white;
  border-radius: 6px;
  padding: 0 30px 30px 30px;
  transform: scale(0);
}

.popup-container.active .popup-box {
  transform: scale(1);
  transition: .4s ease;
  transition-delay: .25s;
}

.popup-box h1 {
font-family: "Monument";
color: black;
line-height: 1;
font-size: 1.5em;
}

.popup-box p {
  color: black;
  margin: 25px 30px 20px 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
}


.popup-box .close-button {
  cursor: pointer;
  font-family: "Monument";
  font-size: 1.5em;
  color: black;
  font-weight: 500;
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
}

.close-button:hover {
  color: rgb(254, 1, 154);
}

.close {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: auto;
  top: 2vh;
}

.textLink {
  color: rgb(254, 1, 154);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
}

.textLink:hover {
  color: black;
}
